@use "../util" as utl;
// .interactive-section {}
.interactive {
    margin: 10em 0;
    display: flex;
    // overflow: hidden;
    &__image {
        flex: 3;
        background-image: url(../images/desktop/image-interactive.jpg);
        background-size: cover;
    }
    &__about {
        flex: 2;
        background-color: utl.$clr-white;
        padding: 7rem;
        position: relative;
        left: -12rem;
        top: 12rem;
    }
    &__title {
        font-size: 5rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }
    &__par {
        color: utl.$clr-dark-grey;
        margin-bottom: 5rem;
    }
}